@import "src/utilities/variables";

@keyframes glow {
  from {
    @include neumorph(1px, $color-primary);
  }
  to {
    @include neumorph(4px, $color-primary);
  }
}

.connect-button{
    background:  transparent;
    border-radius: 10px;
    padding: 9px 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    
    transition: all .2s;
    &[data-focus="true"] {
      animation: glow 2s alternate infinite;
    }

    .connect-button-progress{
      margin-left: 10px;
      margin-top: 4px;
    }
  
    p {
      font-family: Montserrat SemiBold;
      font-weight: 600;
      font-size: 18px;
      color: #fff;
    }
  }